<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width" name="viewport"/>
    <title>Dados Cliente</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/styles/menu.css}"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script th:src="@{/js/menu.js}"></script>
</head>
<body>
<div th:replace="page/menu :: menu"></div>
<div class="container">
    <div class="panel-heading">
        <strong>Tem certeza que deseja excluir este registro?</strong>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" method="POST" style="margin: 10px" th:action="@{/advertising/delete}"
              th:object="${advertising}">
            <div class="form-group">
                <fieldset>
                    <div class="form-group row">
                        <div class="col-xs-1">
                            <input class="form-control input-sm" id="id" readOnly="readonly" th:field="*{id}"
                                   type="text"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-4" th:classappend="${#fields.hasErrors('contato')}? 'has-error'">
                            <label>Contato</label>
                            <input autofocus="autofocus" class="form-control input-sm" maxlength="50"
                                   readOnly="readonly" th:field="*{contato}" type="text"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-4" th:classappend="${#fields.hasErrors('descricao')}? 'has-error'">
                            <label>Descrição</label>
                            <input autofocus="autofocus" class="form-control input-sm" maxlength="254"
                                   readOnly="readonly" th:field="*{descricao}" type="text"/>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group row">
                <button class="btn btn-sm btn-danger" type="submit">Confirmar</button>
                <a class="btn btn-sm btn-default" th:href="@{/advertising}">Cancelar</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>